body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
#line{
	position:absolute;
	width: 200px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transform-origin: center;
	
}